.login {
  height: 400px;
  grid-area: 2/2/3/1;
  background-color: #9696967e;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.247);
}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.login_field {
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #858585cc;
}
.login_error {
  color: rgba(255, 0, 0, 0.8);
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.login_btn {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #969696c5;
  cursor: pointer;
}

.login_btn:hover {
  transition: 0.1s;
  background-color: var(--block-background);
}
