.wrapper {
  height: 100%;
}

.chat-wrapper {
  height: 100%;
  background-color: #edeeee;
  color: #212121e5;
  display: grid;
  grid-template-rows: 6% 88% 6%;
  grid-template-columns: 100%;
  justify-content: center;
  grid-area: 2/2/3/1;
}