.message-input {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 20px;
  grid-area: 3/2/4/1;
}

.text-area {
  border-bottom-left-radius: 5px;
  border: thin;
  resize: none;
  padding: 5px;
  width: 100%;
  height: 50px;
}

.text-area:focus {
  outline: none;
}

.message-input-btn {
  background-color: #979797;
  border: 2px;
  border-bottom-right-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}

.message-input-btn:hover {
  background-color: #757575;
}

.message-input-btn:focus {
  outline: none;
}
