.message-list {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

.separator {
  align-items: center;
  color: #797777;
  display: flex;
  margin: 10px 0;
  text-align: center;
}

.separator::before {
  margin-right: 0.25em;
  content: "";
  flex: 1;
  border-bottom: 1px solid #a0a0a0e1;
}
.separator::after {
  margin-left: 0.25em;
  content: "";
  flex: 1;
  border-bottom: 1px solid #a0a0a0e1;
}
