.chat-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  padding: 5% 0 0 0;
  grid-area: 1/2/2/1;
}

.chat-header-div {
  height: 60px;
  display: flex;
  align-content: space-around;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
  font-weight: 900;
  text-transform: uppercase;
}

.last-message {
  border-right: 2px solid #c5dfd6;
}
.chat-header-counts {
  text-align: left;
  padding-left: 100px;
}
