.header {
  width: 100%;
  height: 6%;
  top: 0;
  padding: 0 100px;
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  font-weight: 900;
  text-transform: uppercase;
  grid-area: 1/2/2/1;
}

.page_logout{
  font-size: 20px;
  background: none;
  border-radius: 5px;
  margin: 10px;
  opacity: 0.2;
  cursor: pointer;
}